@page "/login"
@using BlazorECommerce.Shared.UAC

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="_user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="_user.EmailAddress" class="form-control" type="email" />
        <ValidationMessage For="@(() => _user.EmailAddress)" />
    </div>
    <div class="mb-3">
        <label for="password">Email</label>
        <InputText id="password" @bind-Value="_user.Password" class="form-control" type="password" />
        <ValidationMessage For="@(() => _user.Password)" />
    </div>
    <button type="submit" class="btn btn-primary mb-1">Login</button>
</EditForm>
<div class="text-danger">
    <span>@errorMessage</span>
</div>

@code {
    private UserLogin _user = new();
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(_user);

        if (result.Success)
        {
            errorMessage = string.Empty;
            await LocalStorage.SetItemAsync("authToken", result.Data);
            NavigationManager.NavigateTo("");
        }
        else
        {
            errorMessage = result.Message;
        }
    }
}